
body 
{ 
  color: #5d665b;
  margin-top: 5px;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
  line-height: 180%;
  }

/*html, body {  height: auto; }*/
html, body { height: 95% }

header 
{
  /*background-color: #3660c2;*/
  background-color: #AFD8F8;
  height: 40px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  visibility: visible;
  position: relative;
  color: black;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif; 
  border: 2px solid black;
  }

footer 
{
  margin-top: 0px;
  width: 900px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  border: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  }

.centered
{ 
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}


/* Individual Objects */

#main
{
  /*display:inline-block;*/
  width: 1000px;
  margin-left: auto ;
  margin-right: auto ;
  border: 1px solid black;
  border-bottom-width: 1px;
  height: auto;
  /*padding-bottom: 30px;*/
  min-height: 95%;
  /*float: middle;*/
  }


#menu
{
  color: black;
  display: inline-block;
  width: 250px;
  float: top;
  vertical-align:text-top;
  /*float: left;*/
  border: 1px solid black;
  background-color: #E77471;
  }


#Channel_List 
{ 
  margin-top: 5px;
  margin-bottom: 5px;

}

#plot 
{ 
  width: 600px;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  }


/* The Classes */

.sample 
{  
  width: 260px;
  float: left;

  background-color: #D6F8DE;
  /*background-color: #F2FFE1;*/
  /*background-color: #F1FFE1;*/
  /*background-color: #AFD8F8;*/

  /*border: 1px solid black;*/
}

.sample_name, .sample_value 
{  
  width: 80px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sample_value
{  
  width: 40px;
  }

.systematic{  

  background-color: #E6A9EC;
}
.systematic_name
{  
  width: 40px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.systematic_FracUp, .systematic_FracDown
{  
  width: 30px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.measurementButton
{ 
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  }

.AddSystematicButton
{  
  float: left;
}

.channel 
{
  display: inline-block;
  width: 260px;
  float: top;
  vertical-align:text-top;
  /*float: left;*/
  border: 1px solid black;
  background-color: #FFFEEB;
  }



/* Misc html stuff */)
p { text-indent: 3em; }

h1 h2 h3 h4 
{
  color: #966b72; 
  font-family: Georgia, "Times New Roman", Times, serif;
  }

ul { margin: 1em 0 1em 0; }

a:link { color: #696; text-decoration: none }
a:visited { color: #699; text-decoration: none }
a:hover { color: #c93; text-decoration: underline }
a:active { color: #900; text-decoration: underline; background-color: transparent }  

.tab{ text-indent: 3em; }



/* Some Button Stuff */
.nicebutton 
{
  color:#555555;
  font-weight:bold;
  line-height:25px;
  text-decoration:none;
  }

.nicebutton:hover{ color:#0066CC; }



/* Some Histogram Stuff
.bars rect {
             fill: steelblue;
             }

.axis text {
             font: 10px sans-serif;
             }

.axis path, .axis line {
                         fill: none;
                         stroke: #000;
                         shape-rendering: crispEdges;
                         }
*/