<!DOCTYPE html>

<html>

  <head>

    <title>HistFactoryJS</title>    

    <meta name="keywords" content="HistFactory, ROOT, Physics, Statistics, Particle Physics, Large Hadron Collider, LHC, ATLAS" >
    <link rel="shortcut icon" href="/favicon.ico" >
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <!-- Include the stylesheet: -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" media="screen">

    <!-- Include google's jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

    <!-- Google FLOT graphics -->
    <script type="text/javascript" src="{{url_for('static',filename='flot/jquery.flot.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='flot/jquery.flot.stack.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='flot/jquery.flot.errorbars.js')}}"></script>
    <!-- The d3 data rendering library -->
    <script src="http://d3js.org/d3.v2.js" type="text/javascript"></script>

    <!-- Include the javascript: -->
    <!--<script src="{{url_for('static',filename='plots.js')}}" type="text/javascript" ></script>-->
    <script src="{{url_for('static',filename='histfactory.js')}}" type="text/javascript" ></script>


  </head>

  <body>

    <header class="header">
      HistFactory
    </header>

    <div id="main" >


      <div id="measurement" class="centered">

	<div id="menu" class="centered" >
	  The Measurement <br>
	  Signal Name: <input type="text" id="signal_name"> <br>	  
	  Lumi Uncertainty: <input type="text" class="measurement_option"> <br>	  
	  <button id="NewChannel">Add New Channel</button>
	</div>

	<div id="Channel_List" class="centered" />

      </div>

      <div class="bar"><br></div>

      <div id="update" class="measurementButton nicebutton">
	<button id="update_button">Update</button>
      </div>

      <div id="fit" class="measurementButton nicebutton">
	<button id="fit_button">Fit</button>
      </div>

      <div class="bar"><br></div>

      <div id="plot" style="height: 400px; width: 600px;" >
      </div>

      <div id="fitted_table" style="height: 200px; width: 500px;" >
      </div>

    </div>

    <footer id="footer" style="float: middle;">
      Written and maintained by George Herbert Lewis <br>
    </footer>

  </body>

</html>
